name: Tests
on: push

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12']

    steps:
    - name: Check out code 
      uses: actions/checkout@v4
      
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Display Python version
      run: python -c "import sys; print(sys.version)"

    - name: Install test dependencies        
      run: |
        pip install setuptools --upgrade
        pip install .[test]

    - name: Install package
      run: pip install .    

    - name: Run unit tests
      run: |
        mkdir -p test-reports
        py.test -v --junitxml=test-reports/junit.xml test/*.py
