name: Type checking
on: push

jobs:
  type_check:
    name: Type check code with mypy
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
    
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install dependencies
        run: | 
          pip install setuptools --upgrade
          pip install .[type_checking]

      - name: Install package
        run: pip install .

      - name: Run `mypy` type checker
        # proceed even if mypy checking fails:
        continue-on-error: true
        run: mypy --strict .